<div class="profile-me" style="text-align: center;">
    <img src="<%= theavatar %>" class="rounded-circle" id="avatar"></img>
    <h1 style="font-size: 38px;">
        <div style="color: #f8f8f8"><%= username %>#<%= discriminator %> <% if(badges.verified) { %>
            <img tabindex="0" data-toggle="tooltip" title="Verified" id="user-profile-badge-svg" src="https://cdn.glitch.com/6129854a-8deb-4516-98cf-a90429182a4e%2Fthumbnails%2Fverified.svg?1595821898635"/>
        <% } %></div>
    </h1>
</div>
